body{
    background-image: url("img7.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: white;
}
.a1{
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 50%;
    margin: auto;
}
section{
    height: 100%;
    width: 100%;
}

article{
    width: 20%;
    float: right;
    height: 100%;
    margin-right: 10%;
}
.header1{
    display: flex;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 3vi;
    font-weight: bolder;
    height: auto;
    width: auto;
    align-items: center;
}
.songItem{
    /* border: 1px solid white; */
    border: none;
    border-radius: 25px;
    height: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 1.5vi;
    background-color: rgba(0, 0, 0, 0.415);
    color: white;
}
.timestamp {
    margin: 0 24px;
}
img{
    width: 30px;
    height: 30px;
    padding: 2px;
}


button:hover{
    background-color:rgba(255, 255, 255, 0.219);
    cursor: pointer;
}
footer{
    height: 50px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}  
.backButton{
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    background-color: rgba(189, 186, 186, 0.329);
    
}
a{
    text-decoration: none;
    color: white;

}



@media(max-width:450px){
    
    .songItem{
        font-size: 10px;
    }
    .header1{
        display: grid;
        align-items: center;
    }
    
}