*{
    box-sizing: border-box;
}

body {
    color: #CEDEBD;
    background-image: url(img4.webp);
    background-size: cover;
    background-position:70% ;

    background-repeat: no-repeat;
    text-align: center;
}

.backButton{
    font-size: 1.5vi;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid black;
    
}
button:hover{
    background-color: rgb(0, 0, 0,0.2);
}
button a {
    font-size: 1rem;
}

a {
    text-decoration: none;
}
h1 a{
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

h3 a{
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
}
h5 a{ 
    font-size: 1.2rem;
    
}


.s{
    width: 70%;
    margin: 10px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgb(24, 11, 11,0.5);
    margin: auto;
}
.b1{
    width: 200px;
    height: 200px;
    
}
img{
    width: 100px;
    height: 100px ;
    margin: 0;
    padding: 0px;
    border: 2.5px solid white;
    border-radius: 50%;
}
a{
    color: white;
    font-size: 1vi;
}
article {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 15px;
    /* width: 70%; */
    gap: 10px;
}
.sp2 {
    
    display: flex;
    justify-content: center;
    
}

.sp2>div {
    padding: 0 35px;

}
button:hover{
    background-color: rgb(0,0,0,0.4);
}
footer{
    /* position: fixed; */
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
h6{
    padding: 15px;
}

@media screen and (max-width:450px) {
    .sp2{
        display: grid;
        height: 250px;
        overflow: scroll;
    }
    .sp2::-webkit-scrollbar{
        width: 0;
        height: 0;
    }

}